.formulario {
    width: 62%;
    height: auto;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: auto;
    background-color: #0b4146;
    color: white;
}


ul{

list-style: none;


}